<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Input Mask
    </ion-title>
    <ion-button></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="setValue()">Set Value</ion-button>
  <ion-item>
    <ion-input [(ngModel)]="a" label="Cool number" [maskito]="digitsOnlyMask" [maskitoElement]="predicate" />
  </ion-item>
  <ion-item>
    <ion-input label="Time" [maskito]="timeMask" [maskitoElement]="predicate" />
  </ion-item>
  <ion-item>
    <ion-input label="Name" [maskito]="uppercaseMask" [maskitoElement]="predicate" />
  </ion-item>
  <ion-item>
    <ion-input label="CVV" [maskito]="options" [maskitoElement]="predicate" />
  </ion-item>
  <ion-item>
    <ion-input label="Number" [maskito]="numberMask" [maskitoElement]="predicate" />
  </ion-item>
</ion-content>